<table style="width: 100%" class="data-grid">
    <thead>
    <tr>
        <th class="data-grid-th" style="width: 200px;"
            data-bind="i18n: 'License Key'"></th>
        <th class="data-grid-th" data-bind="i18n: 'Key Data'"></th>
        <th class="data-grid-th"></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: keys">
    <tr class="data-row _odd-row" data-bind="css: {'_odd-row': $index() % 2 === 0}">
        <td>
            <pre class="license_key" data-bind="text: key, css: {'key-valid': valid, 'key-not-valid': !valid()}"></pre>
        </td>
        <td data-bind="css: {loading: checking}, if: !checking()">
                    <span data-bind="visible: hasModules, css: {expired: hasExpired}">
                        <strong data-bind="i18n: 'Module'"></strong>: <span
                            data-bind="text: module"></span><br/>
                        <!-- ko if: plan_id -->
                        <strong data-bind="i18n: 'Current Plan'"></strong>:
                        <span
                            data-bind="text: plan_id"></span><br/>
                        <!-- /ko -->
                        <!-- ko if: planName -->
                            <strong data-bind="i18n: 'Plan'"></strong>:
                            <span data-bind="text: planName"></span><br/>
                        <!-- /ko -->
                        <!-- ko if: ongoing -->
                            <strong data-bind="i18n: 'Support'"></strong>:
                            <span data-bind="i18n: 'Ongoing'"></span><br/>
                            <strong
                                    data-bind="i18n: 'Subscription end date'"></strong>:
                            <span data-bind="text: expires"></span><br/>
                        <!-- /ko -->
                        <!-- ko ifnot: ongoing -->
                        <strong data-bind="i18n: 'Support'"></strong>:
                            <!-- ko if: hasExpired -->
                            <span data-bind="i18n: 'expired'"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: hasExpired -->
                            <span data-bind="i18n: 'expires'"></span>
                            <span data-bind="text: expires"></span><br/>
                            <!-- /ko -->
                        <!-- /ko -->
                    </span>
                    <!-- ko if: getMessage -->
                    <strong data-bind="text: getMessage"></strong>:
                    <a data-bind="i18n: 'Upgrade now', attr: {href: upgradeLink, target: '_blank'}"></a><br/>
                    <!-- /ko -->
                    <span data-bind="visible: !hasModules(), i18n: 'Please [Save Config] now'"
                          class="error">
                    </span>
        </td>
        <td>
            <a class="trashcan" href="#"
               data-bind="click: $parent.removeKey, i18n: 'Remove'"></a>
        </td>
    </tr>
    </tbody>
</table>
<fieldset>
    <div class="error" data-bind="visible: error, text: error"></div>
    <input type="text"
           data-bind="event: { keypress: absorbEnter }, value: new_key">
    <button type="button" data-bind="click: addKey, i18n: 'Add key'"></button>
</fieldset>