#menu-moogento-license-menu > a:before  {
    opacity: 0.65;
    content: '' !important;
    font-size: 2.4rem;
    display: block;
    position: relative;
    top: -0.3rem;
    width: 30px;
    height: 30px;
    background: url(../img/logo.png);
    background-size: 100%;
    margin: 0 auto;
}

#menu-moogento-license-menu:hover > a:before {opacity: 1;}

#nav li#menu-moogento-license-menu .submenu .submenu-title {
    background-image: url(../img/menu_logo.png);
    background-repeat: no-repeat;
    font-size: 0;    
    padding-left: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: 50%;
}