.moogento-license-section .loading {
    background-image: url(../img/hourglass.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.moogento-license-section fieldset {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.moogento-license-section .license_key {
    letter-spacing: 0.1em;
    width: 22ch;
    margin: 0;
}

.moogento-license-section .key-valid {
    color: green;
}

.moogento-license-section .key-valid::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: green;
    -webkit-mask-image: url(../img/check-mark.svg);
    mask-image: url(../img/check-mark.svg);
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    top: 2px;
    position: relative;
    margin-right: 10px;
}

.moogento-license-section em.server,
.moogento-license-section .trashcan {
    background-image: url(../img/server.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    float: left;
    top: 5px;
    position: relative;
    opacity: 0.2;
    left: -12px;
}
.moogento-license-section .trashcan {
    background-image: url(../img/trashcan.svg); 
    padding-left: 20px;
    background-size: 12px;
    opacity: 1;
    left:0;
}

.moogento-license-section .key-not-valid {
    color: red;
}

.moogento-license-section .key-not-valid::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: red;
    -webkit-mask-image: url(../img/x-mark.svg);
    mask-image: url(../img/x-mark.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    top: 2px;
    position: relative;
    margin-right: 10px;
}

.moogento-license-section .error {
    color: red;
    font-weight: bold;
}

.moogento-license-section .expired {
    color: lightgray;
}

.config-nav .moogento-tab .admin__page-nav-title::before {
    content: '';
    background-image: url('//l.moogento.com/logo/moogento_tinylogo.lp.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    height: 30px;
    position: absolute;
    width: 30px;
    top: 12px;
    left: 7px;
}

.config-nav .moogento-tab .admin__page-nav-title strong {
    margin-left: 26px;
}