<?php
$element = $this->getElement();
$htmlId = $element->getHtmlId();
?>
<h1><?php echo $element->getLegend() ?></h1>
<div class="moogento-license-section">
    <table style="margin:20px 0 5px;">
        <tr style="border: 1px solid #eee;">
            <td style="padding:0 20px;line-height: 0.9em;">
                <em class="server"></em>
                <pre>
                    <?php echo $this->getServerHost() ?>
                </pre>
            </td>
            <td style="padding:14px 20px;font-weight:600;background:#eee;display: block;"><?php echo __('Installation Server') ?></td>
        </tr>
    </table>
    <i stye="color:#777;font-size:13px;">
        ^ Register this server, and your dev/live domain(s), to each key in 
            <a href="https://moogento.com/downloadable/customer/products">your Moogento account</a>
        , before saving key(s) here
    </i>
    <div class="moogento-license-section-content" id="<?php echo $htmlId ?>"  data-bind="scope:'<?php echo $htmlId ?>'">
        <br/>
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
            {
                "#<?php echo $htmlId ?>": {
                    "Magento_Ui/js/core/app": {
                       "components": {
                            "<?php echo $htmlId ?>": {
                                "component": "Moogento_License/js/keys",
                                "config": <?php echo $block->getKeysInfo() ?>
                            }
                        }
                    }
                }
            }
        </script>
    </div>
</div>
<?php echo $this->getExtraJs() ?>
<script>
    window.key_url = '<?php echo $this->getUrl('moogento_license/license/process') ?>';
</script>